# Solutii Tema 02

In [1]:
# Observatii:
# - tre sa invatam sa scriem cod CURAT si ORDONAT
# - indentare se face fie cu 4 spatii, fie cu un tab

In [3]:
# ex2: Verifica si afiseaza daca x este numar natural sau nu

x = 1
if x >= 0:
    print('Numarul este natural')
else:
    print('Numarul nu este natural')

Numarul este natural

In [4]:
x = -1
if x >= 0:
    print('Numarul este natural')
else:
    print('Numarul nu este natural')

Numarul nu este natural

In [22]:
x = 3.5  # numar natural = numar intreg mai mare sau egal cu 0
if x >= 0 and isinstance(x, int):
    print('Numarul este natural')
else:
    print('Numarul NU este natural')

Numarul NU este natural

In [7]:
isinstance?

In [14]:
print(type(x))

<class 'float'>

In [36]:
# ex4. Verifica si afiseaza daca x este intre -2 si 13
x = float(input("Introdu un numar: "))
if x in range(-2, 13):
    print(True)
else:
    print(False)
    
    
# varianta ca sa mearga cu floats
if x >= -2 and x <= 13:
    print(True)
else:
    print(False)

Introdu un numar: 4.77
False
True

In [31]:
list(range(-2, 13))

[-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [40]:
# ex5: Verifica si afiseaza daca dif dintre x si y e mai mica decat 5.
x = int(input('Indroduceti x: '))
y = int(input('Indroduceti y: '))

diff = x - y
if diff < 5:
    print("Diferenta e mai mica decat 5")
else:
    print("Diferenta e mai mare decat 5")

Indroduceti x: 3
Indroduceti y: 10
Diferenta e mai mica decat 5

In [46]:
# Daca as vrea sa verific ca diferenta dintre x si y sau y si x e mai mica decat 5
x = int(input('Indroduceti x: '))
y = int(input('Indroduceti y: '))

diff1 = x - y
if diff1 < 5:
    print("Diferenta e mai mica decat 5")
else:
    print("Diferenta e mai mare decat 5")
# incompleta

Indroduceti x: 10
Indroduceti y: 3
Diferenta e mai mica decat 5

In [54]:
x = int(input('Indroduceti x: '))
y = int(input('Indroduceti y: '))

# v1
if x >= y:
    diff = x - y
else:
    diff = y - x

if diff < 5:
    print("Diferenta e mai mica decat 5")
else:
    print("Diferenta e mai mare sau egala cu 5")
    
# v2
if abs(x-y) < 5:
    print("Diferenta e mai mica decat 5")
else:
    print("Dif mai mare sau egala cu 5")

Indroduceti x: 4
Indroduceti y: 100
Diferenta e mai mare sau egala cu 5

In [57]:
abs(4-10)

6

In [61]:
# ex9: Citeste o litera de la tastatura. Verifica daca e vocala
litera = input("Introduceti o litera: ")
vocale = 'aeiou'

if litera.lower() in vocale:
    print("Litera e Vocala")
else:
    print("Litera nu e vocala")

Introduceti o litera: A
Litera e Vocala

In [89]:
# Verifica daca un numar introdus de la tastatura x are exact 6 cifre
x = float(input("Introduceti numarul: "))
# print(len(str(x)))

x = str(x)
if x.count('.')>0 and len(x) == 7 or len(x) == 6:
    print("Are exact 6 cifre!")
else:
    print("Nu are exact 6 cifre")

# TODO: Incercati sa modificati sa accepte si numere negative

Introduceti numarul: 123.456
Are exact 6 cifre!

In [72]:
len("1232")

4

# Intalnirea 03

In [90]:
# Structuri de date aka Colectii

In [94]:
type([])

list

In [95]:
type((1,2,3))

tuple

In [96]:
# LIST:

In [98]:
# liste sunt niste variabile care pastreaza mai mult de o valoare inauntrul lor
my_var = 10
my_list = [1,2,3,4]
my_list

[1, 2, 3, 4]

In [116]:
my_list = [1, "doi", 3, True, 3, 3, 8.3, [100,200,300], (1,2,3), {'key': 'val'}] # putem pune orice :)
my_list

[1, 'doi', 3, True, 3, 3, 8.3, [100, 200, 300], (1, 2, 3), {'key': 'val'}]

In [117]:
my_list[0]  # lista e indexata

1

In [118]:
my_list[-1]

{'key': 'val'}

In [119]:
my_list[1]

'doi'

In [120]:
# cu ajutorul indecsilor, ii putem chiar modifica valorile:
my_list[0] = 100
my_list

[100, 'doi', 3, True, 3, 3, 8.3, [100, 200, 300], (1, 2, 3), {'key': 'val'}]

In [121]:
# putem adauga noi valori la lista:
my_list.append(None)
my_list

# => lista e mutabila fiindca se poate modifica fara suprascriere (aka reatribuire)

[100,
 'doi',
 3,
 True,
 3,
 3,
 8.3,
 [100, 200, 300],
 (1, 2, 3),
 {'key': 'val'},
 None]

In [122]:
print(my_list[-1])

None

In [123]:
# putem adauga un elem nou si pe un anumit index
my_list.insert(2, 'avion')
my_list

[100,
 'doi',
 'avion',
 3,
 True,
 3,
 3,
 8.3,
 [100, 200, 300],
 (1, 2, 3),
 {'key': 'val'},
 None]

In [124]:
s = 'abc' # cum fac sa ii adaug 'd' la final? s sa devina 'abcd'
s[-1] = 'd'  # eroare, stringul e imutabil, necesita reatribuire
print(s)

TypeError: 'str' object does not support item assignment

In [125]:
# stringul trebuia suprascris
s = 'abc'
s = s + 'd'  # sau s += 'd'
print(s)

abcd

In [126]:
# putem sterge elemente din lista:
my_list.remove(8.3)
my_list

[100,
 'doi',
 'avion',
 3,
 True,
 3,
 3,
 [100, 200, 300],
 (1, 2, 3),
 {'key': 'val'},
 None]

In [127]:
my_list.remove?

In [128]:
my_list.remove(3)  # atentie! se sterge doar prima aparitie a elem
my_list

[100,
 'doi',
 'avion',
 True,
 3,
 3,
 [100, 200, 300],
 (1, 2, 3),
 {'key': 'val'},
 None]

In [129]:
# putem sterge si de pe un index
del my_list[-1]
my_list

[100, 'doi', 'avion', True, 3, 3, [100, 200, 300], (1, 2, 3), {'key': 'val'}]

In [130]:
[1,2,3] == [2,1,3]  # e False

# => list e ordonata

False

In [131]:
# Ce mai putem face cu listele?
my_list.count(3)

2

In [133]:
print(type(my_list))

<class 'list'>

In [134]:
lst = [11, 3, 26, 2, 1, 14, 13]
#####   0  1  2   3  4
lst.index(1)

4

In [135]:
len(lst)

7

In [138]:
lst.sort(reverse=True)
lst

[26, 14, 13, 11, 3, 2, 1]

In [144]:
lst = [5,1,2,7,4]
sorted_lst = sorted(lst)
print(sorted_lst)
print(lst)

[1, 2, 4, 5, 7]
[5, 1, 2, 7, 4]

In [146]:
# Proprietati lista:
lst = ['a', 'b', 'c']
########    0    1    2

# 1) lista e indexata!!
print(lst[0])
print(lst[-1])

# 2) lista e ordonata!!
l1 = [1,2,3]
l2 = [2,1,3]
print(l1 == l2)  # False, conteaza ordinea

# 3) lista e mutabila!! 
lst = ['a', 'b', 'c']
lst.append('d')  # adaug o noua val
lst[0] = 100     # sau chiar modific o val
print(lst)

a
c
False
[100, 'b', 'c', 'd']

In [147]:
# TUPLE

In [148]:
# tuplele sunt colectii similare cu listele, cu exceptia ca sunt imutabile (odata create nu pot modificate)

In [149]:
my_tuple = (1, 'doi', 3, True, 3, 3, 7.4)

In [155]:
my_tuple = (1, 'doi', 3, True, 3, 3, 7.4, ('q','w')) # putem pune si [1,2,3], {'key': 'val'} dar nu e recomandat

In [156]:
my_tuple[0]  

# => tuple sunt indexate

1

In [157]:
my_tuple[-1]

('q', 'w')

In [159]:
(1,2,3) == (2,1,3)

# => tuple sunt ordonate

False

In [160]:
my_tuple[0] = 100  # eroare

# => tuple sunt imutabile (odata create nu pot fi modif!!!)

TypeError: 'tuple' object does not support item assignment

In [161]:
my_tuple

(1, 'doi', 3, True, 3, 3, 7.4, ('q', 'w'))

In [162]:
my_tuple.index('doi')

1

In [163]:
my_tuple.count(3)

3

In [164]:
len(my_tuple)

8

In [165]:
type(my_tuple)

tuple

In [168]:
# my_tuple.insert(1, 'avioane')

In [172]:
# Proprietati tupla:
t = (12, True, 'abc', 0.8)

# tupla e indexata
print(t[0], t[-1])

# tupla e ordonata
t1 = (1,2,3)
t2 = (1,2,3)
t3 = (3,2,1)
print(t1 == t2)
print(t1 == t3)

# tupla e imutabila
# t[0] = 1000  # eroare

12 0.8
True
False

In [178]:
# Avem tupla t = ('a', 10, 'b') si vrem sa adaugam valoarea 1234, obtinand tupla ('a', 10, 'b', 1234)?
t = ('a', 10, 'b')

t = list(t)
t.append(1234)
t = tuple(t)
print(t)

('a', 10, 'b', 1234)

In [174]:
x = '3.5'
# vrem sa il transformam in numar?
x = float(x)
print(type(x), x)

<class 'float'> 3.5

In [181]:
# Exercitiu ce va poate ajuta la interviuri:

# Daca avem x = 5 si y = 10, cum facem sa la interschimbam valorile?
# Adica x sa devina 10 ,iar y 5

x = 5
y = 10

# Varianta clasica din celelalte limbaje de programare
# aux = x
# x = y
# y = aux
# print(f'x={x}, y={y}')

# Varianta smechera a Pythonului
x, y = y, x   # se numeste tuple unpacking!
# practic (x, y) = (y, x)  asa sa v`o imaginati
print(f'x={x}, y={y}')


# Tuple unpacking se foloseste frecvent la functii cand se returneaza mai mult de o valoare

x=10, y=5

In [186]:
def my_func():
    return 1,2

returned_val = my_func()
print(returned_val)
print(type(returned_val))

a, b = my_func()
print(a)
print(b)
print(type(a))

(1, 2)
<class 'tuple'>
1
2
<class 'int'>

In [187]:
# DICT

In [188]:
# dictionarele sunt colectii/structuri de date care stocheaza elemente sub forma cheie:valoare

In [211]:
my_dict = {
    "brand": "Tesla",
    "model": "X",
    "year": 2022,
    "is_licensed": True,
    5: 10,
    2.1: "two point one",
    "availble_models": ['X', 'Y', 'S', '3'],
    "specs": {"top_speed": "250kmh", "range": "650km"},
    (1,2,3): 'o valoare',
}
# !!cheile din dict trebuie sa fie tipuri de date imutabile!!

In [212]:
# Atentie, nu putem avea o lista drept cheie in dict
d = {[1,2,3]: 'valoare'}  # eroare

# Lista e mutabila, python nu poate risca asta, in spate, in memorie valorea e  asociata cheii si e stocata
# intr`o zona de memorie calculata pe baza acestei chei

TypeError: unhashable type: 'list'

In [213]:
# Codul urmator da sau nu eroare?
t = ('a','b','c')
d = {t: 'ahaa'}
print(d)

{('a', 'b', 'c'): 'ahaa'}

In [214]:
# accesam valorile prin intermediul cheilor
print(my_dict['brand'])

# nu prin indecsi ca la str,list sau tuple
# print(my_dict[0])  # eroare

# => dict e neindexat

Tesla

In [215]:
my_dict.keys()  # afiseaza cheile in ordinea in care au fost introduse

# => dict e ordonat! (in py2 nu era!)

dict_keys(['brand', 'model', 'year', 'is_licensed', 5, 2.1, 'availble_models', 'specs', (1, 2, 3)])

In [216]:
# putem adauga noi elemente in dict:
my_dict['engine'] = 'electric'
my_dict

{'brand': 'Tesla',
 'model': 'X',
 'year': 2022,
 'is_licensed': True,
 5: 10,
 2.1: 'two point one',
 'availble_models': ['X', 'Y', 'S', '3'],
 'specs': {'top_speed': '250kmh', 'range': '650km'},
 (1, 2, 3): 'o valoare',
 'engine': 'electric'}

In [217]:
# putem modifica anumite valori:
my_dict['model'] = "S"
my_dict

# => dict e mutabil

{'brand': 'Tesla',
 'model': 'S',
 'year': 2022,
 'is_licensed': True,
 5: 10,
 2.1: 'two point one',
 'availble_models': ['X', 'Y', 'S', '3'],
 'specs': {'top_speed': '250kmh', 'range': '650km'},
 (1, 2, 3): 'o valoare',
 'engine': 'electric'}

In [218]:
# putem sa stergem elemente (cheie:val)
del my_dict['year']
my_dict

{'brand': 'Tesla',
 'model': 'S',
 'is_licensed': True,
 5: 10,
 2.1: 'two point one',
 'availble_models': ['X', 'Y', 'S', '3'],
 'specs': {'top_speed': '250kmh', 'range': '650km'},
 (1, 2, 3): 'o valoare',
 'engine': 'electric'}

In [219]:
# putem sterge returnand valoarea
val = my_dict.pop(5)
print(val)
my_dict

10

{'brand': 'Tesla',
 'model': 'S',
 'is_licensed': True,
 2.1: 'two point one',
 'availble_models': ['X', 'Y', 'S', '3'],
 'specs': {'top_speed': '250kmh', 'range': '650km'},
 (1, 2, 3): 'o valoare',
 'engine': 'electric'}

In [223]:
# Cum credeti ca retunam range-ul?
my_dict['specs']['range']  # nested dict

'650km'

In [226]:
# Proprietati dict:
my_d = {'brand': 'Tesla', 'model': 'S', 'year': 2022}

# dict e neindexat!!
print(my_dict['brand'])
# print(my_dict[0])  # eroare

# dict e ordonat!!
print(my_dict.keys())  # afisate in ordinea introdusa

# dict e mutabil!!
my_dict['year'] = 2021
print(my_dict)

Tesla
dict_keys(['brand', 'model', 'is_licensed', 2.1, 'availble_models', 'specs', (1, 2, 3), 'engine'])
{'brand': 'Tesla', 'model': 'S', 'is_licensed': True, 2.1: 'two point one', 'availble_models': ['X', 'Y', 'S', '3'], 'specs': {'top_speed': '250kmh', 'range': '650km'}, (1, 2, 3): 'o valoare', 'engine': 'electric', 'year': 2021}

In [227]:
# Ce functii mai au dict-urile?
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
print(d1)
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [228]:
d1.items()  # utila mai tarziu cand o sa iteram peste dict (la for)

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [230]:
print(d1.get('a'))

# echivalent cu 
print(d1['a'])

1
1

In [232]:
# dar, daca nu exista cheia returneaza un default
# print(d1['x'])  # eroare
print(d1.get('x'))

None

In [236]:
d1.get('x', 'Nu exista cheia cautata!')

'Nu exista cheia cautata!'

In [237]:
# TODO_1: Avand dictionarul:
my_d = {'a': {'aa': 11, 'ab': 12}, 'c': {'ca': 31}}
# 1. Cum putem returna valoarea cheii 'ab' din interiorul cheii 'a', iar daca nu exista sa afisam 'Cheia nu exista!'?
# 2. Cum putem returna valoarea cheii 'b', iar daca nu exista sa afisam 'Cheia nu exista!'?
# 3. Cum putem returna valoarea cheii 'cb' din interiorul cheii 'c', iar daca nu exista sa afisam 'Cheia nu exista!'?
# 4. Cum putem returna valoarea cheii 'ba' din interiorul cheii 'b', iar daca nu exista sa afisam 'Cheia nu exista!'?

In [238]:
# SET

In [239]:
# seturile sunt colectii care stocheaza date imutabile si nu contine duplicate

In [242]:
my_set = {'alb', 'rosu', 22, False, (1,2,3), 2.66, 22}

In [243]:
my_set  # 22 apare o singura data!!

{(1, 2, 3), 2.66, 22, False, 'alb', 'rosu'}

In [245]:
my_set[0]  # eroare, seturile nu au index

# => set e neindexat

In [246]:
# putem accesa elementele doar daca iterm peste set
s1 = {'a', 'b', 'c'}
for elem in s1: 
    print(elem)

c
b
a

In [248]:
# sau putem daca dam pop
print(s1.pop())

c

In [249]:
s1 = {'a', 'b', 'c'}
s2 = {'b', 'c', 'a'}

s1 == s2  # e True

# => set e neordonat

True

In [250]:
# putem adauga elemente noi in set
s1.add('zzzzz')
s1

# => set e mutabil, dar !!contine doar elemente imutabile!!

{'a', 'b', 'c', 'zzzzz'}

In [253]:
# Proprietati set:
s = {'alb', 'rosu', 'negru', 'albastru'}

# set nu e indexat!
# print(s[0])  # eroare

# set nu e ordonat!
s1 = {'alb', 'rosu', 'negru', 'albastru'}
s2 = {'negru', 'rosu', 'albastru', 'alb'}
print(s1 == s2)  # e True

# set e mutabil
s1.add('verde')
print(s1)

True
{'verde', 'negru', 'alb', 'rosu', 'albastru'}

In [257]:
# Seturile sunt echivalentul Python al multimilor matematice
s1 = {'alb', 'rosu', 'negru', 'albastru'}
s2 = {'verde', 'alb', 'rosu', 'mov'}

# Operatii cu seturi:
# UNION - elemente distincte
print('Union: ')
print(s1 | s2)

# INTERSECTION - elem comune
print("Intersection: ")
print(s1 & s2)

# DIFFERENCE - elem unice din primul set
print("Difference: ")
print(s1 - s2)

# SYMMETRIC DIFFERENCE - elem unice intre cele doula (toate elem mai putin cele comune)
print("Symmetric difference: ")
print(s1 ^ s2)

Union:
{'verde', 'negru', 'alb', 'rosu', 'albastru', 'mov'}
Intersection:
{'rosu', 'alb'}
Difference:
{'albastru', 'negru'}
Symmetric difference:
{'verde', 'negru', 'albastru', 'mov'}

In [258]:
# Rezumat structuri de date (aka colectii de date, collections)

#  LIST    | TUPLE    | DICT      | SET       |
# indexata | indexata | neindexat | neindexat |
# mutabila | imutabil | mutabil   | imutabil  |
# ordonata | ordonata | ordonat   | neordonat |

In [259]:
# TODO_2: Avand lista l=[1,1,2,3,1,4,4,5,6,2], cum facem sa
# eliminam duplicatele?

In [ ]:
# TODO_3: Given the set: animals1 = {"wolf", "cheetah", "elephant", "crocodile"}: 
# 1. Add the following list of animals to it: lst1 = ["horse", "chimpanzee"] 
# 2. print only elements from set animals1 that are not found in set 
# animals2 = {"jaguar", "horse", "wolf", "crocodile"} 
# => {"cheetah", "elephant", "chimpanzee"}
animals1 = {"wolf", "cheetah", "elephant", "crocodile"}
lst1 = ["horse", "chimpanzee"] 
animals2 = {"jaguar", "horse", "wolf", "crocodile"}

# 1.
animals1 = animals1 ^ set(lst1)
print(animals1)

# 2.
print(animals1 - animals2)