In [10]:
# ex 9 daca am fi avut prop. : "The coral is either the stupidest animal or the smartest rock,love it or loath it."
#si am fi vrut sa calculam de cate ori apare cuvantul the, nu insiruiera de carcatere?
# => 3 " <The>" coral is either <the> stupidest animal or <the> smartesr rock, love it or loathe it"

s1 = "The coral is either  the stupidest animal or the smartest rock, love it or loathe it"
s1.count ('the' )
# s1.count (' the ')

#v1
s1 = s1.lower ()
s1 = ' ' + s1
print ()
print(s1.count(' the '))

#v2
s1 = s1 = "The coral is either  the stupidest animal or the smartest rock, love it or loathe it"
s1 = s1.lower ()
s1.split (' ').count('the') #splituim stringul dupa fiecare carcater spatiu ' '
print(s1.count('the'))

3
5

In [3]:
s1 = 'THE Coral'
s1.lower ()

'the coral'

In [ ]:
# ex 14 - citeste un string de la tastaura de ex 'alabala portocala':
# a) salveaza le in 2 variabile separate
# b) capitalizeaza toti 'a' in afara de primul.si ultimul carcater

#a)
# my_string = input ('Give me your string: ')

#x,y = my_strin.split (" ")
#print (x)
#print (y)

#b) "alabala portocala" => "alAbAlA portcoAla"
s1 = "alabala portocala"

# parcurgem de la al 2-lea char pana la penultimul
# print (s1[1:-1])
to_upper = s1 [1:-1].replace ('a', 'A')
# print (to_upper)

to_upper = s1[0] + to_upper + s1 [-1]
print(to_upper)

In [ ]:
# ex 15 
# e.g.: User, User1, parola123 => 9 carcatere => afiseaza: 'Parola pt user User1 este ********* si are 9 carcatere'

user = input ('Insert your user: ')
password = input ("Insert your password: ")
password_mask = len(password)* "*" # nr de caractere in stelute nr_char * = '*'

print(f'Parola pt user {user}este {password mask} si are {len(password)} carcatere!)

In [ ]:
# INTALNIREA 2 - Operatori, Conditionale

In [ ]:
# Operatori de atribuire: = , += , -=, *=, /=

In [18]:
# Avem x = 10 si vrem sa il marim de 5 ori
x = 10
x *= 5
print(x)

50

In [17]:
y = 12
# vrem sa il injumatatim pe y 
y /= 2
print(y)

6.0

In [16]:
x = 2
y = 5
print(x + y)
print(x - y)
print(x * y)
print(y / x)

#nu merge sa dau run

7
-3
10
2.5

In [15]:
x = 11
y = 3
print(x / y) #impartire cu zecimale
print (x // y) #returneaza partea intreaga (Catul)
# nu merge sa dau run

3.6666666666666665
3

In [ ]:
# D / I (impartitul) = C (catul) + R (restul)
# // returneaza C
# % returneaza R

In [14]:
x = 11
y = 3
print (x % y)

# 11 / 3 = 3 r 2

#nu merge sa dau run

2

In [13]:
x,y,z = 2, 4, 8
print(z / y x) # se pastreaza ordinea efectuarii operatiilor la mate

# nu merge run

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3198739120.py, line 2)

In [12]:
x = 10
print (x / 0) # eroare in python

# no run

ZeroDivisionError: division by zero

In [10]:
print ( 1 + 2 + 5 * 2 - 2)
#no run

11

In [11]:
print (1+ (2 + 5) * 2 - 2)
#no run

13

In [7]:
# sa presupunem ca x = 22 si vrem sa determinam daca x e par sau nu?
x = 22
x % 2 == 0

True

In [8]:
x = 3 
x ** 3 

# 3 ^ 3 = 3 * 3 * 3 = 27

#no run la nici care de mai sus

27

In [9]:
x = 3 
pow (x, 3)

27

In [ ]:
# Operatori de comparare ==, !=. <=, >=, <, >

In [6]:
print(5 > 2)
print(5 < 2)
print (5 == 2)
print( 5 != 2)

# no run

True
False
False
True

In [5]:
s1 = 'abc'
s2 = 'xy'
print(s1 < s2) # comparatia se face pozitie cu poztitie

True

In [4]:
ord ('a')
#run

97

In [3]:
ord ('x')
#run

120

In [2]:
s1 = 'abc'
s2 = 'bac'

In [ ]:
# Operatori logici: and, or, not

In [1]:
True and False

False

In [19]:
#   A   |   B   |   and |   or  |  not A
# True  | True  |  True | True  | False
# True  | False | False | True  | False
# False | True  | False | True  | True
# False | False | False | False | True

In [21]:
False or not False and True

# False or True and True
# True and True
# True

True

In [22]:
False and False or True and True

# Fals or True and True
# False or True
# True

True

In [23]:
print (False and (False or True) and True)
#       False and True and True 
#       False and True
#       False

False

In [24]:
print (not(5>7))

True

In [25]:
5 and 7

7

In [26]:
x = 12
x < 7 or x > 10

True

In [28]:
x = 10 
y = 8 
z = 9 
#Vrem sa verificam daca x e mai mare decat y si mai mare decat z

print((x > y) and (x > z))
print(x > y > z) #gresit

True
False

In [29]:
# Operatori de identitate: is, is not

In [30]:
a = 2
b = 2
c = a
print(a is b)
print(a is c)
print(b is c)

True
True
True

In [31]:
s1 = 'que'
s2 = 'que'
s3 = s1
print(s1 is s2)
print(s2 is s3)
print(s3 is s1)

True
True
True

In [32]:
l1 = [1,2,3]
l2 = [1,2,3]
l3 = l1
print(l1 is l2)
print(l2 is l3)
print(l3 is l1)

False
False
True